{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": "off",
    "comma-dangle": ["error", { "objects": "always-multiline" }],
    "import/no-named-as-default": "off",
    "import/no-unresolved": "off",
    "no-use-before-define": "off",
    "object-curly-newline": "off",
    "prefer-destructuring": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off",
    "react/no-access-state-in-setstate": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    "react/sort-comp": ["error", {                // Team Preference
      "order": [
        "static-methods",
        "/constructor/",
        "/state/",
        "instance-variables",
        "lifecycle",
        "getters",
        "everything-else",
        "render"
      ]
    }],
    "sort-keys": "error",
    "space-before-function-paren": ["error", "always"]
  }
}
